name: GH Pages
on: [push]
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          persist-credentials: false
      - uses: actions/setup-python@v1
        with:
          python-version: '3.8'
      - name: Install Python dependencies
        run: |
          pip install -r requirements.txt
      - name: sort readme # run the run.py to get the latest data
        run: |
          python sort.py
      - name: Deploy main
        uses: JamesIves/github-pages-deploy-action@4.1.5
        with:
          TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: main
          FOLDER: .
      - name: Build
        run: |
          sed 's/docs\/img\//img\//g' README.md > docs/index.md
          mkdocs build
      - name: Deploy pages
        uses: JamesIves/github-pages-deploy-action@4.1.5
        with:
          TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: site
